@import './styles/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

a:not([class]) {
  @apply text-blue-500 hover:underline;
}

.slider {
  .input-range__slider {
    @apply bg-red-400 border-red-400;
  }
  .input-range__track--active {
    @apply bg-red-400;
  }
  .input-range--disabled {
    .input-range__slider {
      @apply bg-gray-200 border-gray-200;
    }
    .input-range__track--active {
      @apply bg-gray-200;
    }
  }
}
